<!doctype html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/header') %>

    <main><%- include('partials/navigation') %> <%- body %></main>

    <%- include('partials/footer') %>
  </body>
</html>
