<!DOCTYPE html>
<!DOCTYPE html>
<h2>Products</h2>

<form method="get">
    <input
        type="text"
        name="search"
        placeholder="Search products"
        value="<%= search %>"
    >

    <label>Minimum Price
      <input type="number" name="minPrice" value="<%= minPrice %>">
    </label>


    <label><input type="checkbox" name="nameAsc" value="true" <%= nameAsc ? 'checked' : '' %>> Name (Ascending)</label>
    <label><input type="checkbox" name="priceAsc" value="true" <%= priceAsc ? 'checked' : '' %>> Price (Ascending)</label>

    <button type="submit">
        Search
    </button>
</form>


<table>

  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>

    <% products.forEach(product => { %>

    <tr>
      <td><%= product.id %></td>
      <td>
        <a href="/products/<%= product.id %>">
          <%= product.name %>
        </a>
      </td>
      <td>$<%= product.price %></td>
      <td>
        <a href="/products/edit/<%= product.id %>">Edit</a>
        <a href="/products/restore/<%= product.id %>">Restore</a>
      </td>
    </tr>

    <% }) %>

  </tbody>
  <% if (page > 1) { %>
  <a href="/products?search=<%= search %>&minPrice=<%= minPrice %>&page=<%= page - 1 %>&nameAsc=<%= nameAsc %>&priceAsc=<%= priceAsc %>">Previous</a>
  <% } %>
  <nav>
    <% for ( let i = 1; i <= totalPages; i++ ) { %>
    <% if(i === page) { %>

    <p>
      Showing page
      <%= page %>
      of
      <%= totalPages %>
    </p>

    <% } else { %>

    <a href="/products?search=<%= search %>&minPrice=<%= minPrice %>&page=<%= i %>&nameAsc=<%= nameAsc %>&priceAsc=<%= priceAsc %>">
      <%= i %>
    </a>

    <% } %>
    <% } %>
  </nav>
  <% if (page < totalPages) { %>
  <a href="/products?search=<%= search %>&minPrice=<%= minPrice %>&page=<%= page + 1 %>&nameAsc=<%= nameAsc %>&priceAsc=<%= priceAsc %>">Next</a>
  <% } %>

</table>
<p>Total Products: <%= total %></p>